/* You can add global styles to this file, and also import other style files */
:root {
  --fontBase: "Outfit", sans-serif;
  --primary-color: rgb(75, 172, 237);
  --botton-succes: rgb(55, 197, 55);
  --font1: bold 1rem/20px var(--fontBase);
  --font2: bold 1.5rem/20px var(--fontBase);
  --fontButton: 1.5rem/20px var(--fontBase);
  --fontRute: 1rem/20px var(--fontBase);
}
* {
  font-family: "Outfit", sans-serif;
  color: black;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
